body {
    padding-top: 12px;
    font-family: 'Fira Code', Arial, sans-serif;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
    background-color: #1f2022;
    color: rgb(213, 213, 213);
    font-size: medium;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

button, input {
    color: inherit;
    background-color: inherit;
    border: 1px solid white;
}

.section {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #292d2e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.section:hover {
    transform: translateY(-2px);
}

.section h2 {
    font-weight: bold;
    animation: slideInLeft 1s ease-in-out forwards;
}

#login {
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
}

@keyframes slideInLeft {
    0% {transform: translateX(-10px);}
    100% {transform: translateX(0);}
}

h1, h2, h3, h4, h5, h6, form {
    margin-bottom: 0px;
}

p {
    line-height: 1.2;
}

#ok_task {
    color: black;
    background-color: #8c8;
}

a {
    display: inline-block;
    color: inherit;
    padding: 5px 7px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover {
    color: whitesmoke;
    background-color: #1e325a;
}

.button {
    order: 2;
    margin-top: 20px;
}

header {
    color: white;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

#header {
    background-color: #1e325a;
}

.tasklink {
    display: block;
    width: 100%;
    margin: 0.5%;
}

