.tasklink {
    display: block;
    color: #ddd;
    margin-top: 0.5%;
    padding: 1%;
    background-color: #1f2022;
}

.tasklink:hover {
    background-color: #ddd;
    color: #292d2e;
}

#ok_task {
    background-color: #004a46;
}

.chosen_btn {
    background-color: #1e325a;
    color: #ddd;
}

h2 {
    margin-top: 0;
}